.option-button {
    text-align: center;
    padding: 1.5vh 1vw;
    font-size: 2vmax;
    cursor: pointer;
    color: #000000;
    background: transparent;
    border: 0.05em solid #000000;
    font-family: "AdumaFOT-Regular";
    box-shadow: 0.1vw 0.3vh #888888;
}

.right-answer-background-color {
    background-color: #adc4a2;
}

.wrong-answer-background-color {
    background-color: #d96e78;
}