@font-face {
  font-family: AdumaFOT-Light;
  src: url(/src/media/fonts/AdumaFOT-Light.otf);
}

@font-face {
  font-family: AdumaFOT-Regular;
  src: url(/src/media/fonts/AdumaFOT-Regular.otf);
}


.App {
  direction: rtl;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}